.container {
  display: flex;
  margin-top: 1rem;
  position: relative;
  ul {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    //hide scrollbar
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    li {
      cursor: pointer;
      white-space: nowrap;
      font-size: 1.2rem;
      font-weight: 400;
      margin-left: 1.5rem;
      transition: 100ms scale;
      //animated underline on hover
      &:hover,
      &:focus {
        color: white;
        transform: scale(1.25);
      }
    }
    //last a child color to red
    li:last-child {
      margin-right: 5rem;
    }
  }
  .fade {
    width: 60px;
    height: 50px;
    //background color fades from #06202a 0% to #06202a = hsla(197, 75%, 9%,0%)
    background: linear-gradient(
      to right,
      hsla(197, 75%, 9%, 0%) 0%,
      hsla(197, 75%, 9%, 100%) 120%
    );
    position: absolute;
    right: 0;
  }
}
@media screen and (min-width: 768px) {
  .container {
    margin-top: 0;

    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      li {
        margin-left: 2rem;
      }
      li:last-child {
        margin-right: 4rem;
      }
    }
  }
}
